In [1]:
import pandas as pd
import numpy as np
unemp_county=pd.read_csv("/home/aaryan/Documents/DataSets/Unem_county_US.csv")
print(unemp_county.head())

   Year     Month        State         County  Rate
0  2015  February  Mississippi  Newton County   6.1
1  2015  February  Mississippi  Panola County   9.4
2  2015  February  Mississippi  Monroe County   7.9
3  2015  February  Mississippi   Hinds County   6.1
4  2015  February  Mississippi  Kemper County  10.6

In [2]:
df=pd.read_csv("/home/aaryan/Documents/DataSets/MinWageData.csv", encoding="UTF-8")
act_min_wage=pd.DataFrame()
for name,group in df.groupby("State"):
    if act_min_wage.empty:
        act_min_wage=group.set_index("Year")[["Department.Of.Labor.Cleaned.Low.Value.2020.Dollars"]].rename(columns={"Department.Of.Labor.Cleaned.Low.Value.2020.Dollars":name})
    else:
        act_min_wage=act_min_wage.join(group.set_index("Year")[["Department.Of.Labor.Cleaned.Low.Value.2020.Dollars"]].rename(columns={"Department.Of.Labor.Cleaned.Low.Value.2020.Dollars":name}))
act_min_wage=act_min_wage.replace(0,np.NaN).dropna(axis=1)
act_min_wage.head()

      Alaska  Arkansas  California  Colorado  Connecticut  Delaware  \
Year
1968   15.61      1.16       12.26      7.43        10.41      9.29
1969   14.80      1.10       11.63      7.05         9.87      8.81
1970   14.00      7.33       11.00      6.67        10.67      8.33
1971   13.41      7.03       10.54      6.39        10.22      7.98
1972   12.99      7.43       10.21      6.19        11.45      9.90

      District of Columbia   Guam  Hawaii  Idaho  ...  Oregon  Pennsylvania  \
Year                                              ...
1968                  9.29   9.29    9.29   8.55  ...    9.29          8.55
1969                  8.81   8.81    8.81   8.11  ...    8.81          8.11
1970                 10.67  10.67   10.67   8.33  ...    8.33          8.67
1971                 10.22  10.22   10.22   7.98  ...    7.98          8.30
1972                  9.90  11.76    9.90   8.66  ...    7.74          9.90

      Rhode Island  South Dakota  Utah  Vermont  Washington  West Virginia  \
Year
1968         10.41          3.16  7.43    10.41       11.89           7.43
1969          9.87          3.00  7.05     9.87       11.28           7.05
1970         10.67          6.67  6.67    10.67       10.67           6.67
1971         10.22          6.39  6.39    10.22       10.22           6.39
1972          9.90          6.19  7.43     9.90        9.90           7.43

      Wisconsin  Wyoming
Year
1968       9.29     8.92
1969       8.81     8.46
1970       8.67     8.67
1971       8.30     8.30
1972       8.97     9.28

[5 rows x 37 columns]

In [3]:
def get_min_wage(year,state):
    try:
        return act_min_wage.loc[year][state]
    except:
        return np.NaN
print(get_min_wage(2012,"Colorado"))

8.61

In [4]:
%%time
unemp_county['min_wage']=tuple(map(get_min_wage,unemp_county["Year"],unemp_county["State"]))

CPU times: user 42.8 s, sys: 17 ms, total: 42.8 s
Wall time: 42.8 s

In [5]:
unemp_county.head()

   Year     Month        State         County  Rate  min_wage
0  2015  February  Mississippi  Newton County   6.1       NaN
1  2015  February  Mississippi  Panola County   9.4       NaN
2  2015  February  Mississippi  Monroe County   7.9       NaN
3  2015  February  Mississippi   Hinds County   6.1       NaN
4  2015  February  Mississippi  Kemper County  10.6       NaN

In [6]:
pres16=pd.read_csv("/home/aaryan/Documents/DataSets/US_Prez_Elec.csv")
pres16.head()

,county,fips,cand,st,pct_report,votes,total_votes,pct,lead
0,NaN,US,Donald Trump,US,0.9951,60350241.0,127592176.0,0.472993,Donald Trump
1,NaN,US,Hillary Clinton,US,0.9951,60981118.0,127592176.0,0.477938,Donald Trump
2,NaN,US,Gary Johnson,US,0.9951,4164589.0,127592176.0,0.032640,Donald Trump
3,NaN,US,Jill Stein,US,0.9951,1255968.0,127592176.0,0.009844,Donald Trump
4,NaN,US,Evan McMullin,US,0.9951,451636.0,127592176.0,0.003540,Donald Trump

In [7]:
len(unemp_county)

885548

In [8]:
county_2015 = unemp_county.copy()[(unemp_county['Year'] == 2015) & (unemp_county['Month'] == 'February')]
county_2015.head()

   Year     Month        State         County  Rate  min_wage
0  2015  February  Mississippi  Newton County   6.1       NaN
1  2015  February  Mississippi  Panola County   9.4       NaN
2  2015  February  Mississippi  Monroe County   7.9       NaN
3  2015  February  Mississippi   Hinds County   6.1       NaN
4  2015  February  Mississippi  Kemper County  10.6       NaN

In [11]:
pres16['st'].unique()

array(['US', 'CA', 'FL', 'TX', 'NY', 'PA', 'IL', 'OH', 'MI', 'NC', 'GA',
       'VA', 'NJ', 'MA', 'WI', 'MN', 'MO', 'WA', 'IN', 'CO', 'TN', 'MD',
       'SC', 'AL', 'AZ', 'LA', 'KY', 'OR', 'CT', 'IA', 'OK', 'MS', 'KS',
       'NV', 'AR', 'UT', 'NE', 'NM', 'ME', 'NH', 'WV', 'ID', 'MT', 'RI',
       'DE', 'HI', 'SD', 'ND', 'VT', 'DC', 'WY', 'AK', nan], dtype=object)

In [ ]:
state_abbv=pd.read_csv("/home/aaryan/Documents/DataSets/State_abbv.csv",index_col=0)
state_abbv.head()
state_abbv.columns

Index(['Postal Abbreviation', 'Postal Code'], dtype='object')

In [ ]:
state_abbv=state_abbv[["Postal Code"]]
state_abbv.columns

Index(['Postal Code'], dtype='object')

In [ ]:
state_abbv_dict=state_abbv.to_dict()['Postal Code']
state_abbv.columns

Index(['Postal Code'], dtype='object')

In [ ]:
pres16.rename(columns={"county":"County","st":"State"},inplace=True)
pres16.head()

,County,fips,cand,State,pct_report,votes,total_votes,pct,lead
0,NaN,US,Donald Trump,US,0.9951,60350241.0,127592176.0,0.472993,Donald Trump
1,NaN,US,Hillary Clinton,US,0.9951,60981118.0,127592176.0,0.477938,Donald Trump
2,NaN,US,Gary Johnson,US,0.9951,4164589.0,127592176.0,0.032640,Donald Trump
3,NaN,US,Jill Stein,US,0.9951,1255968.0,127592176.0,0.009844,Donald Trump
4,NaN,US,Evan McMullin,US,0.9951,451636.0,127592176.0,0.003540,Donald Trump

In [ ]:
for df in [county_2015,pres16]:
    df.set_index(["County","State"],inplace=True)

In [ ]:
pres16['County'] = pres16['County'].astype(str)

KeyError: 'County'

In [ ]:
pres16.head()